{%- set org = org | default(value="") -%}
{%- set org_url = org_url | default(value="") -%}
{%- if org_url == "" and org_key is defined -%}
  {%- set org_url = config.extra.org_urls[org_key] | default(value="") -%}
{%- endif -%}
{%- set meta = meta | default(value="") -%}
<div class="cv-entry">
<h3>{{ title }}</h3>
{%- if org or meta %}
<div class="cv-meta">
{%- if org -%}{%- if org_url -%}<a href="{{ org_url }}">{{ org }}</a>{%- else -%}{{ org }}{%- endif -%}{%- endif -%}
{%- if org and meta %} · {% endif -%}
{%- if meta -%}{{ meta }}{%- endif -%}
</div>
{%- endif %}
{%- if body %}{{ body | markdown | safe }}{% endif -%}
</div>
